<section class="page">
  <app-header></app-header>
  <div class="banner">
    <div class="info-banner">
      <img src="/me.png" alt="" />
      <h1>Olá, eu sou <span>Pedro Airton</span></h1>
      <p>Desenvolvedor Front-End</p>
    </div>
    <!-- From Uiverse.io by jaykdoe -->
    <div class="container">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
      <div></div>
    </div>
  </div>
  <div class="sobre">
    <h2>Sobre mim</h2>
    <p>
      Meu nome é Pedro Airton, tenho 24 anos, formado em Análise e
      Desenvolvimento de Sistemas pela Faculdade SENAC, atualmente cursando
      Pós-graduação em Desenvolvimento Full Stack na Faculdade Descomplica, Hoje
      sou desenvolvedor web na Zaite Tecnologia. <br /><br />
      Trabalho atualmente com as tecnologias de HTML, CSS, JavaScript, JQuery,
      React Native, PHP, Laravel e MySQL, estou hoje aprimorando meus
      conhecimentos com React, e Angular. Tenho como objetivo me aperfeiçoar
      como um desenvolvedor Front-End, e futuramente me tornar um desenvolvedor
      Full Stack.
    </p>
  </div>
  <div class="tecnologias">
    <h2>Tecnologias</h2>
    <div class="conteudo-tecnologias">
      <div class="tecnologia">
        <img src="/html5.webp" alt="">
      </div>
      <div class="tecnologia">
        <img src="/css-3.webp" alt="">
      </div>
      <div class="tecnologia">
        <img src="/javascript.webp" alt="">
      </div>
    </div>
  </div>
</section>
