.page {
  background-color: #0f131b;
  color: white;
  h2 {
    font-size: 3rem;
  }
  .banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .info-banner {
      // position: absolute;
      padding: 200px 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      color: white;
      text-shadow: 4px 3px 8px #101010;
      img {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: solid 10px #0c815c;
        width: 300px;
        border-radius: 50%;
      }
      h1 {
        font-size: 4rem;
        span {
          color: #11c96d;
        }
      }
    }
  }
  .sobre {
    padding: 50px 0;
    border-top: solid 1px #11c96d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    p {
      max-width: 50%;
      font-size: 1.25rem;
    }
  }
  .tecnologias {
    padding: 50px 0;
    padding-bottom: 100px;
    border-top: solid 1px #11c96d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    p {
      max-width: 50%;
      font-size: 1.25rem;
    }
    .conteudo-tecnologias {
      width: 1500px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8rem 5rem;
      .tecnologia {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        aspect-ratio: 1;
        padding: 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
        transition: 0.3s ease;
        &:hover {
          scale: 1.1;
          &::before,
          &::after {
            border-radius: 50%;
          }
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: white;
          border-radius: 15%;
          animation: rotate 10s linear infinite;
          transition: 0.3s;
          z-index: 1;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: white;
          border-radius: 15%;
          rotate: 45deg;
          transition: 0.3s;
          animation: rotateDegrees 10s linear infinite;
          z-index: 1;
        }
        h3 {
          position: absolute;
          bottom: 0;
          translate: 0 200%;
        }
        @keyframes rotate {
          from {
            rotate: 0deg;
          }
          to {
            rotate: 360deg;
          }
        }
        @keyframes rotateDegrees {
          from {
            rotate: 45deg;
          }
          to {
            rotate: 405deg;
          }
        }
        img {
          width: 80px;
          z-index: 2;
        }
      }
    }
  }
  .contato {
    padding: 50px 0;
    border-top: solid 1px #11c96d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    p {
      max-width: 50%;
      font-size: 1.25rem;
    }
    .conteudo-contato {
      display: flex;
      align-items: center;
      gap: 2rem;
      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
